In [171]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [172]:
df = pd.read_csv("SMSSpamCollection",  names=["label", "text"], delimiter="\t")
df

     label                                               text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [174]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df['label'] = encoder.fit_transform(df['label'])

In [175]:
df['label'].value_counts()

0    4825
1     747
Name: label, dtype: int64

In [176]:
y = pd.DataFrame(df["label"])
X = pd.DataFrame(df["text"])

In [177]:
X_train, X_combine, y_train, y_combine = train_test_split(
    X, y, test_size=0.30)
X_test, X_val, y_test, y_val = train_test_split(
    X_combine, y_combine, test_size=0.5)

In [178]:
train = pd.concat([y_train, X_train], axis=1)
test =pd.concat([y_test,X_test],axis=1)
validation=pd.concat([y_val,X_val],axis=1)

In [179]:
train.to_csv("train.csv")
test.to_csv("test.csv")
validation.to_csv("validation.csv")